<div class="container">
    <form action="/books" method="post">
        <div class="controls">
            <div class="form-group">
                <input class="form-control" type="text" name="title" placeholder="書名"><br>
                <input class="form-control" type="text" name="author" placeholder="著者名"><br>
                <div class="row">
                    <div class="form-group col-md-2">
                        <select class="form-control" name="year">
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <select class="form-control" name="month">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <select class="form-control" name="day">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </div>
                </div>
                <input class="form-control" type="text" name="rate" placeholder="評価(1~5)"><br>
                <div class="form-group">
                    <textarea class="form-control" name="comment" placeholder="コメント"></textarea>
                </div>
                ジャンル:<select class="form-control" name="list">
                    <% List.all.each do |list| %>
                        <option value="<%= list.id %>"><%= list.name %></option>
                    <% end %>
                </select>
            </div>
            <div>
                <input type="submit" class="btn font-white back-gray" value="登録">
            </div>
        </div>
    </form>
</div>