<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: black; background-image: none; color: white;">
            <h4 class="font-white">カテゴリーを追加</h4>
        </div>
        <div class="panel-body">
            <form action="/lists" method="post">
                <div class="controls">
                    <div class="form-group sentence">
                        <labe>新しいカテゴリー</labe>
                        <input class="" type="text" name="name" placeholder=""><br>
                    </div>
                    <div>
                        <input type="submit" class="btn font-white back-gray" value="登録">
                    </div>
                </div>
            </form>  
        </div>
    </div>
</div>