<div class="container">
    <form action="/lists" method="post">
        <div class="controls">
            <div class="form-group">
                <labe>新しいカテゴリー</labe>
                <input class="form-control" type="text" name="name" placeholder="カテゴリーを追加"><br>
            </div>
            <div>
                <input type="submit" class="btn font-white back-gray" value="登録">
            </div>
        </div>
    </form>
</div>