<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: black; background-image: none; color: white;">
            <h4 class="font-white">ユーザー情報 <a href="/user_edit"><i class="fa fa-cog"></i></a></h4>
        </div>
        <div class="panel-body">
            <div class="controls">
                <div class="form-group sentence">
                    <p><label>アイコン</label></p>
                    <% if current_user.image.nil? %>
                    <p>画像がまだ設定されていません。</p>
                    <% else %>
                    <img src="<%= current_user.image %>" class="icon">
                    <% end %>
                    <p><label>ユーザー名</label><%= current_user.name%></p>
                    <p><label>ユーザーID</label><%= current_user.id%></p>
                    <!--<p class="text-muted"><label>パスワード</label></p>-->
                    <p><label>このユーザーについて</label><br><%= current_user.description %></p>
                </div>
            </div>
        </div>
    </div>
</div>