/*global_setting*/
.font-black{color: black;}
.font-white{color: white;}
.back-black{background-color: #494b4c;}
.back-white{background-color: white;}
.back-gray{background-color: #AAAAAA;}
.back-blue{background-color: #0275d8;}
.back-opacity{filter:alpha(opacity=50); opacity: 0.5;}
.btn-outline-dark{
    transition-property: background-color,color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40 !important;
}
.btn-outline-dark:hover{
    background-color: black;
    color: white !important;
}
.serif{
    font-family: serif;
}
.sans-serif{
    font-family: sans-serif;
}
.sentence{
    color: black;
    font-family: serif;
    font-size: 18px;
}
.description {
    font-family: sans-serif;
    color: grey;
}
.left-dash:before{
    content: '\2014 \00A0';
}
.icon{
    border-radius: 50%;
    border: 1px gray solid;
    width: 60px;
}

.user-name{
    color: black;
}

body{
    background-image: url(/img/dark-wood.jpg);
    /*background-color:rgb(105, 56, 39); */
    -webkit-font-smoothing: antialiased;
}

div.panel-default>div.header-grey, li.header-grey{
    background-color: #494b4c; background-image: none; color: white;
}

/*navigation_bar*/
nav.navbar{
    background: url(/img/library.jpg) no-repeat center;
    background-size: cover;
    /*background:rgb(178, 152, 129);*/
    border:none;
    border-bottom: #654747 solid 1px;
    border-radius: 0px;
    margin-bottom: 40px;
}
p.nav-lead{
    font-size: 2vw;
    margin-left: 3em;
    margin-top: -1em;
}

li.nav-spacing{
    margin-top: 40px;
}

@media (max-width: 768px) {
ul.nav{
    padding-left: 10px;
    display: flex;
}
p.nav-lead{
    font-size: 15px;
    margin-left: 1em;
}
}
@media screen and (max-width: 480px) {
#logo{ width: 80%;}
}

/*category_lists*/
li.list-group-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
i.list-delete{
    transition-property: opacity,color;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
    opacity: 0.5;
    font-size: 25px;
}
.list-delete:hover{
    color: red;
    opacity: 1;
}

/*main_post*/
.post{
    border-bottom: 0.5px #D8D8D8 solid;
}
.post-button{
    position: absolute;
    right: 30px;
    width: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    font-size: 20px;
}
.post:hover .post-button{
    opacity: 1;
}
.book-delete, .book-edit{
    transition-property: opacity,color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: black;
    opacity: 0.5;
    font-size: 25px;
}
.book-delete:hover{
    color: red;
    opacity: 1;
}
.book-edit:hover{
    color: black;
    opacity: 1
}
.rate-star{
    font-size: 20px;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(270deg, #efc860 3%, #ffea86 57%);
    -webkit-background-clip: text; 
}
.rate{
    display: flex;
    align-items: center;
}

a.heart:hover{
    text-decoration: none;
    cursor: pointer;
}

/*book_form*/
textarea[name="comment"].comment{
    width: 100%;
    height: 210px;
}
textarea[name="description"].user-description{
    width: 100%;
    height: 210px;
}
.input-range[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #c7c7c7;
  height: 2px;
  width: 80%;
}
.input-range[type="range"]:focus,
.input-range[type="range"]:active {
    outline: none;
}
.input-range[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    border: none;
    width: 12px;
    height: 12px;
    display: block;
    background-color: #262626;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
select[name="year"].year{ width: 100%}
select[name="month"].month{ width: 100%}
select[name="day"].day{ width: 100%}
.form-group label{ margin-right: 10px;}
.rate .description{ margin: 0 10px;}
.form-footer{
    font-size: inherit;
}
/*user_info*/
.img-container {
width: 400px;
height: 300px;
display: inline-block;
}
.img-canvas {
display: inline-block;
}
#acMenu dt{
    width: 100%;
    display: inline-block;
    padding: 0.3em 1em;
    color: gray;
    border: gray 1px solid;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    font-size: 90%;
    font-weight: 100;
}
#acMenu dt:hover{
    background: gray;
    color: white;
    transition: all .5s ;
}
#acMenu dd{
    display:none;
}